.flex_container{
    background-color: burlywood;
    display: flex;
    /*flex-wrap: wrap;*/
    /*flex-direction: row-reverse;*/
   flex-flow: row wrap;
    justify-content: space-between;
    align-content: space-between;

}

.flex_container div{
    background-color: cadetblue;
    margin: 20px;
    padding: 10px;
}

#d10{
    order: 2;
    flex-grow: 1;
}

#d20{
    order: 1;
    flex-grow: 1;
}

#d18{
    align-self: center
}

#d30 {
    flex-basis: 200px;
}
