        p{

                color: blueviolet
        }

        h2{
            color: white;
            background-color: black;
        }
        
        li{
            color: green;
            background-color: yellowgreen;
        }